# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CryptoInfo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Mikko\repos\CryptoInfo\.idea\.idea.CryptoInfo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
